@model MyReservationsViewModel
@{
    ViewData["Title"] = "My reservations";
    var packets = Model.Reservations;
    var user = Model.CurrentUser;
}
<div class="row">
    <div class="border-bottom pb-2">
        <h2>My reservations</h2>
        <p>These are all the reservations you've made. Make sure to cancel your reservation if you no longer want the packet or cannot pick it up in time!</p>
    </div>
    <div class="mt-3">
        <div class="container">
            @if(packets.Count == 0){
                <p>It looks like you haven't made any reservations yet. Go to the home page to see the packets that are available at the moment.</p>
            }
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                @foreach (Packet packet in packets)
                {
                    <div class="col-12">
                        <div class="card h-100" style=@(packet.PickUpTimeEnd < DateTime.Now ? "background-color:lightgrey" : "")>
                            <div class="card-body">
                                <div class="d-flex h-100 justify-content-between" style="color:black;">
                                    <div>@(packet.PickUpTimeStart.ToString("M"))</div>
                                    <div class="justify-content-end">
                                        @(packet.PickUpTimeStart.ToString("HH:mm")) to @(packet.PickUpTimeEnd.ToString("HH:mm"))
                                    </div>
                                </div>
                                <div class=" flex">
                                    <hr class="mt-1 mb-2 hr-text" style="height:0.5px;">
                                    <div class="" style="min-height:80px">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title">@(packet.Name)</h5>
                                            @if (packet.IsAlcoholic)
                                            {
                                                <p class="text-danger ms-1"><b>18+</b></p>
                                            }
                                        </div>
                                        <h6 class="card-subtitle mb-2 text-muted">@(packet.MealType.ToString())</h6>
                                    </div>
                                <div style="color:#333;">
                                        <p class="mb-1">Price: &euro;@(packet.Price)</p>
                                        <p class="mb-1">Location: @(packet.Canteen.Name) in @(packet.Canteen.City)</p>
                                    </div>
                                </div>

                                <div class="card-text d-flex justify-content-between  ">
                                    <a class="align-self-center" asp-action="PacketDetail" asp-controller="Packet" asp-route-Id="@(packet.Id)">Read more</a>
                                    <div class="justify-content-end">
                                        @if (user.IsAuthenticated && (user.UserType is "Student" or "Admin") && packet.PickUpTimeEnd >= DateTime.Now)
                                        {
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <partial name="_DeleteReservationModal" model="packet.Id" />
                                        }
                                        else if (packet.PickUpTimeEnd < DateTime.Now){
                                            <i class="align-self-center">Expired</i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

