@model FilterPacketsViewModel
@{
    List<Canteen> bredaCanteens = Canteen.GetAll<Canteen>().Where(c => c.City == "Breda").ToList();
    List<Canteen> tilburgCanteens = Canteen.GetAll<Canteen>().Where(c => c.City == "Tilburg").ToList();
    List<Canteen> denBoschCanteens = Canteen.GetAll<Canteen>().Where(c => c.City == "Den Bosch").ToList();

    bool authenticated = User.Identity!.IsAuthenticated;
    var claimValue = User.FindFirst("UserType")?.Value;
}

<div class="row">
    <div class="border-bottom">
    <h2 class="pb-2">Available packets</h2>
    </div>
    <div class="col-12 col-sm-3 mx-4 mx-sm-auto my-3">
        <form asp-action="FilterPackets" asp-controller="Packet" method="post"></form>
        <div class="row justify-content-start" id="filter-sort-example-filters" data-mdb-auto-filter="true">
            <h4>Filter locations</h4>
            <label asp-for="CanteenIdList" hidden class="control-label"></label>
            <div class="col-12 mb-3" data-mdb-filter="color">
                <span class="fa-lg">Canteens in Breda</span>
                @foreach(Canteen canteen in bredaCanteens) {
                    <div class="form-check mt-1 ms-2">
                        <input class="form-check-input" type="checkbox" id="@(canteen.Name)" name="CanteenIdList" value="@(canteen.Id)">
                        <label class="form-check-label" for="@(canteen.Name)">@(canteen.Name)</label>
                    </div>
                }
            </div>

            <div class="col-12 mb-3" data-mdb-filter="sale">
                <span class="fa-lg mt-4">Canteens in Tilburg</span>
                @foreach(Canteen canteen in tilburgCanteens) {
                    <div class="form-check mt-1 ms-2">
                        <input class="form-check-input" type="checkbox" id="@(canteen.Name)" name="CanteenIdList" value="@(canteen.Id)">
                        <label class="form-check-label" for="@(canteen.Name)">@(canteen.Name)</label>
                    </div>
                }
            </div>

            <div class="col-12 mb-3" data-mdb-filter="sale">
                <span class="fa-lg mt-4">Canteens in Den Bosch</span>
                @foreach(Canteen canteen in denBoschCanteens) {
                    <div class="form-check mt-1 ms-2">
                        <input class="form-check-input" type="checkbox" id="@(canteen.Name)" name="CanteenIdList" value="@(canteen.Id)">
                        <label class="form-check-label" for="@(canteen.Name)">@(canteen.Name)</label>
                    </div>
                }
            </div>

            <div class="col-12 my-3">
                <div class="row">
                    <div class="col">
                        <label asp-for="TypeOfMeal">Type of meal:</label>
                        <select class="form-select" title="selectList" asp-for="TypeOfMeal" asp-items="@ViewBag.MealTypes"></select>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a type="button" asp-action="PacketOverview" class="btn btn-outline-primary mt-3">Undo filters</a>
            </div>

        </div>
    </div>
    
    <div class="col-12 col-sm-9 mt-3 border-start">
        <div class="container">
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                @foreach (Packet packet in Model.Packets)
                {
                    if (!packet.StudentId.HasValue || (claimValue is "CanteenEmployee" or "Admin"))
                    {
                        <div class="col-12">
                            <div class="card h-100" style=@(packet.PickUpTimeEnd < DateTime.Now ? "background-color:lightgrey" : packet.StudentId.HasValue? "background-color:lightyellow" : "")>
                                <div class="card-body">
                                    <div class="d-flex h-100 justify-content-between " style="color:black;">
                                        <div>@(packet.PickUpTimeStart.ToString("M"))</div>
                                        <div class="justify-content-end">
                                            @(packet.PickUpTimeStart.ToString("HH:mm")) to @(packet.PickUpTimeEnd.ToString("HH:mm"))
                                        </div>
                                    </div>
                                    <div class=" flex">
                                        <hr class="mt-1 mb-2 hr-text">
                                        <div class="" style="min-height:80px">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="card-title">@(packet.Name)</h5>
                                                @if(packet.IsAlcoholic) {
                                                    <p class="text-danger ms-1"><b>18+</b></p>
                                                }
                                            </div>
                                            <h6 class="card-subtitle mb-2 text-muted">@(packet.MealType.ToString())</h6>
                                        </div>
                                        <div style="color:#333;">
                                            <p class="mb-1">Price: &euro;@(packet.Price)</p>
                                            <p class="mb-1">Location: @(packet.Canteen.Name) in @(packet.Canteen.City)</p>
                                        </div>
                                    </div>

                                    <div class="card-text d-flex justify-content-between  ">
                                        @*<div>*@
                                        <a class="align-self-center" asp-action="PacketDetail" asp-controller="Packet" asp-route-Id="@(packet.Id)">Read more</a>
                                        @*</div>*@
                                        <div class="justify-content-end">
                                            @if (authenticated)
                                            {
                                                @if (claimValue is "Student" or "Admin" && !packet.StudentId.HasValue && packet.PickUpTimeEnd >= DateTime.Now)
                                                {
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reserveModal@(packet.Id)">
                                                        Reserve
                                                    </button>
                                                    <partial name="_ReservePacketModal" model="@(packet.Id)" />
                                                }
                                                if (claimValue is "CanteenWorker" or "Admin" && packet.StudentId.HasValue)
                                                {
                                                    <i class="align-self-center">Reserved</i>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>
