@model Packet
@{
    bool authenticated = User.Identity!.IsAuthenticated;
    var claimValue = User.FindFirst("UserType")?.Value;
}
<div class="text-danger" asp-validation-summary="All"></div>
<div class="d-flex justify-content-between">
    <div>
        <h2>@(Model.Name)</h2>
        <p>@(Model.PickUpTimeStart)</p>
    </div>
    <div class="justify-content-end">
        @{
            if (authenticated)
            {
                if (claimValue is "Student" or "Admin" && !Model.StudentId.HasValue)
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reserveModal">
                        Reserve
                    </button>
                    <div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm reservation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to reserve this packet?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-primary" asp-action="AddReservation" asp-controller="Packet" asp-route-Id="@(Model.Id)">Reserve</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (claimValue is "CanteenEmployee" or "Admin" && Model.CanteenId == HttpContextAccessor.HttpContext!.Session.GetInt32("CanteenId"))
                {
                    <a class="btn btn-primary" asp-action="EditPacket" asp-controller="Packet" asp-route-Id="@(Model.Id)"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    //<a class="btn btn-primary" asp-action="DeletePacket" asp-controller="Packet" asp-route-Id="@(Model.Id)">Delete</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this packet?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-primary" asp-action="DeletePacket" asp-controller="Packet" asp-route-Id="@(Model.Id)">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                }
            }
            else
            {
            }
        }
    </div>

    @foreach(PacketProduct product in Model.Products){
        <div class="crop-product"><img src="@(product.Product.ProductImage.GetSrc("webp"))" /></div>
    }
</div>